.backoffice {
  padding: 100px 20px;
  display: block;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  details {
    margin-top: 20px;

    h2 {
      font-size: 25px;
      vertical-align: middle;
      display: initial;
    }

    summary {
      border: 0;
      outline: 0;
      background-color: #fff;
      color: #000;
      padding: 10px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      cursor: pointer;
    }

    &:not([open]) summary {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    div {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #000;
      background-color: #eee;
      padding: 20px 20px 20px 30px;
      display: flex;
      flex-direction: column;
    }

    a {
      background: #fff;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
      letter-spacing: .5px;
      transition: box-shadow ease .3s;

      &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
        color: #5a5a5a;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }

  tr {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
  }

  th {
    background-color: #fff;
    padding: 10px;
    color: #000;
    text-align: left;

    &:first-of-type {
      text-align: center;
    }
  }

  td {
    padding: 10px;
  }

  tr:nth-of-type(odd) td {
    background-color: #2d2d2d;
  }

  .details {
    & > img {
      width: 100%;
    }
    & > p, & > img {
      margin-bottom: 20px;
    }
    .id {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      color: transparent;
      font-size: 50px;
    }
    .text {
      line-height: 1.4;
    }
  }

  table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;

    tr img {
      margin: 0;
    }

    .id {
      background-color: #2C8DA0;
      padding: 5px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      text-align: center;
      border-radius: 10px;
      font-size: 12px;
      transition: background-color ease .3s;

      &:hover {
        background-color: #44C6E0;
      }
    }

    td a {
      display: flex;
      align-items: center;
    }

    .edit, .delete {

      img {
        width: 15px;
        height: auto;
        transition: opacity ease .3s;

        &:hover {
          opacity: .5;
        }
      }
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
  }

  .small-id {
    margin-right: 10px;
  }

  .btn-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    img {
      width: 15px;
      height: auto;
      filter: invert(1);
      margin-left: 10px;
    }

    a, button {
      display: block;
      background-color: #fff;
      border-radius: 10px;
      color: #000;
      line-height: 1;
      padding: 10px 15px 5px;
      letter-spacing: 1px;
      transition: background-color ease .2s;
      cursor: pointer;

      &:first-of-type:hover {
          background-color: #2C8DA0;
      }

      &:last-of-type:hover {
        background-color: #df0428;
      }

      &:not(:first-of-type) {
        margin-left: 20px;
      }
    }
  }
  .popin-confirm {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);

    & > div {
      background-color: #000;
      padding: 40px;
      border-radius: 10px;
    }

    .btn-actions {
      margin-top: 20px;
    }
  }
}