body {
  font-size: 20px;
  color: #fff;
  background-color: #171717;
  font-family: 'Bebas Neue', cursive;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  white-space: pre-line;
}

.section-item {
  width: calc(100% - 40px);
  display: block;
  max-width: 1200px;
  margin: 150px auto;

  @media screen and (max-width: 520px) {
    margin: 100px auto;
  }

  .flickity-prev-next-button {
    top: -75px;
    background-color: transparent;
    &:disabled {
      opacity: 0;
    }

    svg {
      fill: #fff;
      width: 15px;
      left: auto;
      right: 0;
      top: 50%;
      height: auto;
    }
  }

  .flickity-prev-next-button.previous {
    left: auto;
    right: 60px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: solid 1px #444;
    padding-bottom: 10px;
  }
}

.page-content {
  margin-top: 150px;

  h1 {
    font-size: 3.5rem;
  }
}